In [220]:
import datetime
import numpy as np
import pandas as pd
from tqdm import tqdm

In [221]:
#variáveis globais
BASE = 'BASE.csv'
DIA_INICIO_PRED = datetime.date(2017,1,1)
DIA_FINAL_PRED = datetime.date(2023,12,31)

#configurações globais
pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:.2f}'.format
np.set_printoptions(suppress=True)

In [222]:
df = pd.read_csv(BASE)

In [223]:
#correção dos nomes das colunas
lista_nomes_corretos = []
lista_nomes_errados = df.columns

for i in range(len(lista_nomes_errados)):
    lista_nomes_corretos.append(lista_nomes_errados[i].replace(" ",""))
    
df.columns = lista_nomes_corretos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8068 entries, 0 to 8067
Data columns (total 40 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   PX0001M   5326 non-null   object
 1   PX0003M   7567 non-null   object
 2   PX0006M   5326 non-null   object
 3   PX0012M   5326 non-null   object
 4   BALB03M   4943 non-null   object
 5   ESP001M   4612 non-null   object
 6   ESP003M   4612 non-null   object
 7   ESP006M   4612 non-null   object
 8   ESP012M   4612 non-null   object
 9   NY0001M   5327 non-null   object
 10  NY0003M   8068 non-null   object
 11  NY0006M   5327 non-null   object
 12  NY0012M   5327 non-null   object
 13  TAB3M     5287 non-null   object
 14  CORN3M    4355 non-null   object
 15  CORN6M    4354 non-null   object
 16  PORB3M    3501 non-null   object
 17  FS0003M   5326 non-null   object
 18  FS0006M   5327 non-null   object
 19  SOLK1M    5307 non-null   object
 20  SOLK3M    5307 non-null   object
 21  SOLK6M    5307 non-null   object
 22  YY0003M   7824 non-null   object
 23  YY0006M   5327 non-null   object
 24  PIB3M     4519 non-null   object
 25  DIDA01M   5197 non-null   object
 26  DIDA03M   5992 non-null   object
 27  DIDA06M   5196 non-null   object
 28  PORK01    5290 non-null   object
 29  PORK03    5294 non-null   object
 30  BURP03M   5335 non-null   object
 31  BURP06M   5284 non-null   object
 32  DETL01    5342 non-null   object
 33  PONYA     4611 non-null   object
 34  PONYO/N   5055 non-null   object
 35  KEEPCALM  5168 non-null   object
 36  TOLSTOY   4006 non-null   object
 37  CORAL     5397 non-null   object
 38  HFXX1T    3289 non-null   object
 39  SAXX1T    1629 non-null   object
dtypes: object(40)
memory usage: 2.5+ MB

In [224]:
#transformação das strings em datetime

coluna_max = len(df.columns)
linha_max = len(df)

linha = 0
coluna = 0

for coluna in tqdm(range(coluna_max)):
    for linha in range(linha_max):
        dia_string = df.iloc[linha,coluna]
        if (dia_string is np.nan):
            pass
        else:    
            dia_obj = datetime.datetime.strptime(dia_string, '%d/%m/%Y').date()
            df.iloc[linha, coluna] = dia_obj

100%|██████████| 40/40 [00:38<00:00,  1.03it/s]

A base de dados original foi corrigida.

In [225]:
df

,PX0001M,PX0003M,PX0006M,PX0012M,BALB03M,ESP001M,ESP003M,ESP006M,ESP012M,NY0001M,NY0003M,NY0006M,NY0012M,TAB3M,CORN3M,CORN6M,PORB3M,FS0003M,FS0006M,SOLK1M,SOLK3M,SOLK6M,YY0003M,YY0006M,PIB3M,DIDA01M,DIDA03M,DIDA06M,PORK01,PORK03,BURP03M,BURP06M,DETL01,PONYA,PONYO/N,KEEPCALM,TOLSTOY,CORAL,HFXX1T,SAXX1T
0,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30,2016-12-30
1,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29,2016-12-29
2,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28,2016-12-28
3,2016-12-23,2016-12-23,2016-12-23,2016-12-23,2016-12-27,2016-12-27,2016-12-27,2016-12-27,2016-12-27,2016-12-23,2016-12-23,2016-12-23,2016-12-23,2016-12-27,2016-12-23,2016-12-23,2016-12-27,2016-12-23,2016-12-23,2016-12-27,2016-12-27,2016-12-27,2016-12-23,2016-12-23,2016-12-23,2016-12-23,2016-12-23,2016-12-23,2016-12-23,2016-12-23,2016-12-27,2016-12-27,2016-12-27,2016-12-27,2016-12-23,2016-12-27,2016-12-27,2016-12-23,2016-12-27,2016-12-23
4,2016-12-22,2016-12-22,2016-12-22,2016-12-22,2016-12-23,2016-12-23,2016-12-23,2016-12-23,2016-12-23,2016-12-22,2016-12-22,2016-12-22,2016-12-22,2016-12-23,2016-12-22,2016-12-22,2016-12-23,2016-12-22,2016-12-22,2016-12-23,2016-12-23,2016-12-23,2016-12-22,2016-12-22,2016-12-22,2016-12-22,2016-12-22,2016-12-22,2016-12-22,2016-12-22,2016-12-23,2016-12-23,2016-12-23,2016-12-23,2016-12-22,2016-12-26,2016-12-26,2016-12-22,2016-12-23,2016-12-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1985-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8064,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1985-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1985-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1985-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1985-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [226]:
def extrair_indice_individual(indice, df): 
    '''
    Extração do índice em específico da base e tratamento.
    '''
    df_fx = df.loc[:,indice]
    df_fx.dropna(inplace=True)
    df_fx = df_fx.sort_values()
    df_fx.reset_index(drop=True, inplace=True)
    
    return df_fx.to_list()

In [227]:
def criar_dataframe_individual(data_inicial, data_final):
    '''
    Criar o dataframe usado para a predição da data.
    '''       
    df_fx = pd.DataFrame(pd.date_range(data_inicial, data_final), columns=['data'])
    df_fx['filtro1_dia_semana'] = 0
    df_fx['filtro2_feriado'] = 0
    df_fx['predicao'] = 0
    df_fx[indice] = 0
    df_fx['metrica'] = 0
    
    return df_fx

In [228]:
def preencher_datas_conhecidas(df_fx, lista_datas_orig):
    '''
    Popular o dataframe criado com as datas conhecidas na base original.
    '''   
    for linha in range(len(df_fx)):
        if df_fx.iloc[linha,0] in lista_datas_orig:
            df_fx.iloc[linha,4] = 1
            
    return df_fx

In [229]:
def preencher_dias_semana(df_fx):
    '''
    Preencher o dataframe com os dias da semana
    
    Interpretação:
    1: segunda-feira
    2: terça-feira
    3: quarta-feira
    4: quinta-feira
    5: sexta-feira
    6: sábado
    7: domingo    
    '''
    for linha in range(len(df_fx)):
        data = df_fx.iloc[linha,0]
        df_fx.iloc[linha,1] = data.isoweekday()
    
    return df_fx

In [230]:
def identificar_lista_feriados(df_fx, indice, timestamp_2017):
    '''
    Identificar os feriados entre as datas da base original.
    '''
    df_feriados = df_fx[(~df_fx['filtro1_dia_semana'].isin([6,7])) &\
                        (df_fx[indice] == 0) &\
                        (df_fx['data'] < timestamp_2017)]
    
    lista_feriados = df_feriados['data'].to_list()
    
    return lista_feriados

In [231]:
def ajustar_lista_feriados(lista_feriados):
    '''
    Trazer os feriados para o mesmo ano de (digamos, 2000) e eliminar os repetidos.
    '''
    lista_fx = []
    for data in lista_feriados:
        lista_fx.append(datetime.date(2000, data.month, data.day))
                        
    return set(lista_fx)

In [232]:
def preencher_feriados(lista_feriados, df_fx):
    '''
    Preencher o dataframe com os feriados de cada índice.
    '''
    for linha in range(len(df_fx)):
        data = df_fx.iloc[linha,0]
        if (datetime.date(2000, data.month, data.day) in lista_feriados):
            df_fx.iloc[linha,2] = 1
    return df_fx

In [248]:
def metrica(df_fx, DIA_INICIO_PRED, df_met):
    '''
    Quantifica os acertos da predição.
    '''
 
    data = df_fx.iloc[0,0]
    linha = 0
    
    while data < DIA_INICIO_PRED:
        pred = df_fx.iloc[linha,3]
        real = df_fx.iloc[linha,4]
        if (pred == real):
            df_fx.iloc[linha,5] = 1
        else:
            df_fx.iloc[linha,5] = -1
        linha += 1
        data = df_fx.iloc[linha,0]
    
    acertos = df_fx['metrica'].value_counts()[1]
    erros = df_fx['metrica'].value_counts()[-1]
    nova_linha = {'indice':indice, 'acertos':acertos, 'erros':erros}
    df_met = df_met.append(nova_linha, ignore_index=True)    
    return df_fx, df_met

In [249]:
df_pred = pd.DataFrame(index=range(15000))
timestamp_2017 = pd.to_datetime(DIA_INICIO_PRED)
df_metrica = pd.DataFrame(columns=['indice','acertos','erros'])

for indice in tqdm(df.columns):
    #função de extração do índice e tratamento dos dados
    lista_datas_orig = extrair_indice_individual(indice, df)
    
    data_inicial = lista_data_orig[0]
    
    #criando o dataframe do indice
    df_indice = criar_dataframe_individual(data_inicial, DIA_FINAL_PRED)
    df_indice = preencher_datas_conhecidas(df_indice, lista_datas_orig)
    
    #incluindo dias da semana
    df_indice = preencher_dias_semana(df_indice)
    
    #identificando e incluindo feriados
    lista_feriados = identificar_lista_feriados(df_indice, indice, timestamp_2017)
    lista_feriados = ajustar_lista_feriados(lista_feriados)
    df_indice = preencher_feriados(lista_feriados, df_indice)
    
    #predicao
    df_indice.loc[(df_indice['filtro1_dia_semana'].isin(list(range(1,6)))) &\
                  (df_indice['filtro2_feriado'] == 0), 'predicao'] = 1
    
    #metrica
    df_indice, df_metrica = metrica(df_indice, DIA_INICIO_PRED, df_metrica)
    
    #organizando resultados
    df_pred_ind = df_indice[df_indice['predicao'] == 1]['data'].reset_index(drop=True)
    df_pred[indice] = df_pred_ind

100%|██████████| 40/40 [07:05<00:00, 10.63s/it]

In [257]:
#Exportando os resultados
df_metrica.to_csv('metrica.csv', sep=';')
df_pred.to_csv('datas_pred.csv', sep=';')